.dashboard{
    display: inline-flex;
}

.dashboard .sideNav{
    position: fixed;
    height:100%;
    padding-right:40px;
}

.dashboard .sideNav::after{
    position: absolute;
    content:"";
    top:0;
    right:0;
    width:1px;
    height:100vh;
    background-color: #d9d9d9;
}

.dashboard .body{
    margin-left:220px;
    height:100%;
}

@media(max-width:768px){
    .dashboard{
        display: block;
        height:90vh;
        overflow: hidden;
    }
    .dashboard .body{
        margin:0;
    }
    .dashboard .sideNav{
        display: block;
        width: 100%;
    }

    .dashboard .sideNav::after{
        display: none;
    }
}