.main{
    top:-22px;
    padding:40px 0;
}

.main h2{
    font-size:30px;
    cursor: default;
    font-weight:500;
}

.main .notes{
    margin-top:50px;
    display: grid;
    grid-template-columns: repeat(3,220px);
    grid-gap: 25px 70px;
    flex-wrap: wrap;
}

@media(max-width:768px){
    .main{
        margin-top:100px;
        width: 100%;
    }
    .main::-webkit-scrollbar{
        background-color: transparent;
        width: 0;
    }
    .main h2{
        display: none;
    }
    .main .notes{
        height:100vh;
        padding-bottom:400px;
        overflow-y:scroll;
        grid-gap: 20px;
        grid-template-columns: repeat(1,87%);
        margin-top: 0;
    }
}

@media(min-width:769px) and (max-width:1200px){
    .main .notes{
        grid-template-columns: repeat(2,45%);
        grid-gap: 20px 70px;
    }
}