.nav{
    position: relative;
    margin:12px auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .logo{
    font-size:25px;
    font-weight:bold;
    cursor: default;
    position: relative;
}

.nav .logo::after{
    position:absolute;
    content:"";
    bottom:-5px;
    left:0;
    width:30%;
    height:2px;
    background-color: #d9d9d9;
}

.nav .create{
    position: relative;
    margin-top:50px;
    z-index: 2;
}

.nav .create .plus{
    width:44px;
    height:44px;
    background-color:black;
    color:white;
    font-weight:bold;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
    border-radius: 50%;
    cursor: pointer;
}

.nav .create .colors{
    opacity: 0;
    transition: .5s all ease-in-out;
    pointer-events: none;
}

.nav .create .colors.show{
    opacity: 1;
    pointer-events: auto;
}

.nav .create .colors ul{
    list-style: none;
    padding:0;
    margin:0;
    position: relative;
    left:13px;
}

.nav .create .colors ul li{
    width:17px;
    height:17px;
    background-color:green;
    display: block;
    margin-bottom:15px;
    border-radius: 50%;
    cursor: pointer;
}

@media(max-width:768px){

    .nav{
        display: block;
        left: 0;
        position: relative;
        top: -10px;
        width: 100%;
        height:100%;
    }

    .nav .logo{
        font-size: 16px;
        justify-self: center;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 18px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);    
    }

    .nav .logo::after{
        display: none;
    }

    .nav .logo.hide{
        display: none;
    }

    .nav .create{
        right:25px;
        position: fixed;
        bottom:20px;
    }

    .nav .create .plus{
        width: 55px;
        height:55px;
        font-size: 20px;
    }

    .nav .create .colors{
        position: absolute;
        top:0;
        right:65px;
        background-color: #232E4D;
        border-radius: 15px;
        padding-right:17px;
    }

    .nav .create .colors ul{
        width: max-content;
        margin-left:10px;
        position: relative;
        padding-top:17px;
    }

    .nav .create .colors ul li{
        display: inline-block;
        margin-right:10px;
        width:20px;
        height:20px;
        margin-right:15px;
    }

}