.note{
    color:black;
    border-radius: 15px;
    height:200px;
    padding:20px;
    position: relative;
    width:100%;
}

.text{
    width: 100%;
    height:130px;
}

.text p{
    font-size:14px;
    font-weight: 400;
    line-height: 1.5;
    height:130px;
    width: 100%;
    cursor: default;
    overflow-y: auto;
    overflow-wrap:break-word;
}

.text p::-webkit-scrollbar,.note textarea::-webkit-scrollbar{
    width: 0;
    background-color: transparent;
}

.note textarea{
    border:none;
    background-color: transparent;
    font-size:14px;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    height:130px;
    display: block;
}

.note textarea:focus{
    outline:none
}

.note .footer{
    position: absolute;
    bottom:10px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.note .footer h4{
    font-size:12px;
    font-weight:bold;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
}

.note .footer .control{
    background-color: black;
    width: 22px;
    height:22px;
    border-radius: 50%;
    cursor: pointer;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note .footer .control svg{
    font-size:10px;
}

.note .close{
    position: absolute;
    top:10px;
    right:15px;
    cursor: pointer;
    font-size:15px;
}

@media(max-width:768px){
    .note{
        width:100%;
    }
    .note .footer{
        bottom:5px;
        width: 90%;
    }
    .note .footer .control{
        width:33px;
        height:33px;
    }
}

@media(min-width:767px) and (max-width:770px){
    .note .footer{
        bottom:5px;
        width: 95%;
    }

    .note .footer .control{
        width:44px;
        height:44px;
    }

    .note textarea,.note p{
        font-size:16px;
    }
}